@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-linear-gradient {
  background: linear-gradient(0deg, var(--Colors-Neutral-100, #FFFFFF), var(--Colors-Neutral-100, #FFFFFF)), radial-gradient(50% 50% at 50% 50%, rgba(42, 202, 167, 0.1) 0%, rgba(42, 202, 167, 0) 100%);

}